{% extends "base.html" %}
{% block title %}Films{% endblock %}
{% block content %}
<form action="/films" method="get">
    <label for="name">Film Name:</label>
    <input type="text" id="name" name="name">
    <label for="actor_name">Actor Name:</label>
    <input type="text" id="actor_name" name="actor_name">
    <label for="genre">Genres:</label>
    <select name="genre" id="genre">
        <option value="">-- Any --</option>
        {% for genre in genres %}
            <option value="{{ genre.genre }}">{{ genre.genre }}</option>
        {% endfor %}
    </select>
    <label for="year">Year:</label>
    <input type="text" id="year" name="year">
    <label for="rating">Rating:</label>
    <input type="text" id="rating" name="rating">
    <label for="country">Country:</label>
    <select name="country" id="country">
        <option value="">-- Any --</option>
        {% for country in countries %}
            <option value="{{ country.country_name }}">{{ country.country_name }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Search">
</form>
<br>
{% for one_film in films %}
    <div class="flash">Film name: <a href="/films/{{ one_film.id }}">{{ one_film.name }}</a>
        <br>Genres: {% for genre in one_film.genres %}
                    {{ genre.genre }}
                    {% if not loop.last %}
                        ,
                    {% endif %}
            {% endfor %}
        <br>Actors: {% for actor in one_film.actors %}
            <a href="/actor/{{ actor.id }}">
                {{ actor.actor_first_name }} {{ actor.actor_last_name }}
            </a>{% if not loop.last %}
                ,
            {% endif %}
        {% endfor %}
        <br> Year: {{ one_film.year }}
        <br> Description: {{ one_film.description }}
        <br> Rating: {{ one_film.rating }}
        <br> Duration: {{ one_film.duration }}
        <br> Country: {{ one_film.country }}
    </div> <br>
{% endfor %}
{% endblock %}