<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% for one_film in film_list %}
        {{ one_film["name"] }}
    {% endfor %}
    </title>
</head>
<body>
{% for one_film in film_list %}
<div class="flash">Film name: {{ one_film["name"] }}
<br>Genres: {% for genre in genres %}
        {{ genre["genre_id"] }}
        {% if not loop.last %}
            ,
        {% endif %}
        {% endfor %}
<br>Actors: {% for actor in actors %}
        <a href="/actor/{{ actor["actor_id"] }}"> {{ actor["actor_first_name"] }} {{ actor["actor_last_name"] }}</a>
        {% if not loop.last %}
            ,
        {% endif %}
        {% endfor %}
<br>Description: {{ one_film["description"] }}
<br>Year: {{ one_film["year"] }}
<br>Country: {{ one_film["country"] }}
<br>Duration: {{ one_film["duration"] }}
<br>Additional information: {{ one_film["additional_info"] }}
</div>
{% endfor %}
</body>
</html>